services:
  - type: web
    name: telegram-bot-api
    env: python
    plan: free
    buildCommand: pip install -r api/requirements.txt
    startCommand: gunicorn --chdir api server:app
    autoDeploy: true
    envVars:
      - key: REDIS_URL
        fromService:
          type: redis
          name: ghost-redis
          property: connectionString

      - key: BOT_TOKEN
        sync: false
